@model IEnumerable<GotItBack.Data.Objects.Entities.Category>

@{
    ViewBag.Title = "Index";
}
<h2></h2>
@section css{
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="table-responsive">
    <table class="table table-condensed table-hover" id="dataTable">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("View Sub-Categories", "Create","SubCategories", new { categoryId = item.CategoryId }, new { @class = "btn btn-default" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section scripts {

    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $(document)
            .ready(function() {
                $('#dataTable').DataTable();
            });

    </script>
}