@model IEnumerable<GotItBack.Data.Objects.Entities.FoundItem>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new {@class = "btn btn-success"})
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Category Name")
        </th>
        <th>
            @Html.DisplayName("Sub-Category Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateItemFound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>

        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateItemFound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FoundItemId }, new { @class = "btn btn-primary" }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.FoundItemId }, new { @class = "btn btn-default" }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.FoundItemId }, new { @class = "btn btn-danger" })*@
        </td>
    </tr>
}

</table>
